<div class="center-block white center">
  <div class="row">
    <form class="col s12" action="<%= "/activities/update/#{ @activity.id }" %>" id="edit-activity-form" method="post">
      <input type="hidden" name="activity[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="authenticity_token" class="fill">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Title" id="title" type="text" name="activity[title]" value="<%= @activity.title %>">
          <label for="title">Title</label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="date" class="datepicker" name="activity[date]" value="<%= @activity.date.strftime("%e %B, %Y") rescue '' %>">
          <label for="date">Date</label>
        </div>
        <div class="input-field col m6 s12">
          <input id="start_time" type="text" class="timepicker" name="activity[start_time]" value="<%= @activity.start_time.strftime("%I:%M %p") rescue '' %>">
          <label for="start_time">Begin</label>
        </div>
        <div class="input-field col m6 s12">
          <input id="end_time" type="text" class="timepicker" name="activity[end_time]" value="<%= @activity.end_time.strftime("%I:%M %p") rescue '' %>">
          <label for="end_time">End</label>
        </div>
        <div class="col s12" style="margin:1em;">
          <% checked = (@activity.complete?) ? 'checked' : '' %>
          <p>
            <input type="checkbox" class="filled-in" name="activity[complete]" id="complete" <%= checked %> />
            <label for="complete">Completed</label>
          </p>
        </div>
        <div class="input-field col s12">
          <select name="activity[activity_type]" id="activity_type">
            <% Activity.activity_types.keys.each do |k| %>
                <% selected = (@activity.activity_type == k) ? 'selected' : '' %>
                <option value="<%= k %>" <%= selected %>><%= k.capitalize %></option>
            <% end %>
          </select>
          <!--<label for="activity_type">Type:</label>-->
        </div>
        <div class="input-field col s12">
          <textarea id="notes" class="materialize-textarea" name="activity[notes]" style="overflow:auto;"><%= @activity.notes %></textarea>
          <label for="notes">Notes</label>
        </div>
        <br>
        <div class="col m6 s12">
          <button class="btn blue" type="submit" name="save">Save</button>
        </div>
        <div class="col m6 s12">
          <a class="btn-flat delete" href="<%= "/activities/destroy/#{ @activity.id }" %>" onclick="return confirm('Are you sure you want to delete this activity?');">Delete</a>
        </div>
      </div>
    </form>
  </div>
</div>